<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style >

      .row{
        margin-left: -30px !important;
      }
      .multi-column-dropdown {
         padding-inline-start : 20 !important;
         text-align: center;
      }
      .col-sm-3{
        padding-left: 0 !important;
      }
      .photos-col{
        padding-top:   20px;
        padding-left:  10px;
        padding-right: 10px;
        padding-bottom: 20px;
      }
      .card{
        border-radius: 2.00rem !important;
      }
      .card-img-top{
        width: 70%;   
      }
      .checked {
         color: orange;
      }
      .navbar-toggler{
        font-size: 0.80rem;
      }
      .dropdown-item{
        padding: .15rem 0.5rem
      }

    </style>
   

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!--
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 150px;">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Filtros<span class="sr-only">(current)</span></a>
      </li>
    -->
       <li class="nav-item active">
        <a  class="nav-link" [routerLink]="'/register-user'" routerLinkActive="active">register user</a>
      </li>

       <li class="nav-item active">
        <a  class="nav-link" [routerLink]="'/confirm-user'" routerLinkActive="active">confirm user</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      -->
      <!--
      <li class="nav-item dropdown" style="padding-left: 50px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Valoracion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <ul class="multi-column-dropdown"  style="text-align: left; padding-left: 0px !important;">
                  <a class="dropdown-item" href="#">
                    <span class="fa fa-star checked"></span>
                    <p style="float: right;">0.0</p>
                  </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <p style="float: right;">1.0</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <p style="float: right;">2.0</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-star checked">
                  </span><span class="fa fa-star checked">
                  </span><span class="fa fa-star checked">
                  </span><span class="fa fa-star checked">
                  </span>
                  <p style="float: right;">3.0</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <p style="float: right;">4.0</p>
                </a>
              </ul>
        </div>
      </li>
    -->
    <!--
      <li class="nav-item dropdown" style="padding-left: 100px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Zona de trabajo
        </a>
        <ul class="dropdown-menu multi-column columns-4" style="width:850px; ">
          <div class="row" style="width: 100%;">
            <div class="col-sm-3"  >
              <ul class="multi-column-dropdown" >
                <a class="dropdown-item" href="#">Lima Moderna</a>
                <a class="dropdown-item" href="#">San Miguel</a>
                <a class="dropdown-item" href="#">Jesús Maria</a>
                <a class="dropdown-item" href="#">Magdalena</a>
                <a class="dropdown-item" href="#">Lince</a>
                <a class="dropdown-item" href="#">San Isidro</a>
                <a class="dropdown-item" href="#">Miraflores</a>
                <a class="dropdown-item" href="#">Surquillo</a>
                <a class="dropdown-item" href="#">San Borja</a>
                <a class="dropdown-item" href="#">Barranco</a>
                <a class="dropdown-item" href="#">Santiago de Surco</a>
                <a class="dropdown-item" href="#">La Molina</a>
              </ul>
            </div> 
            <div class="col-sm-3">
              <ul  class="multi-column-dropdown">
                <a class="dropdown-item" href="#">Lima Norte</a>
                <a class="dropdown-item" href="#">Carabayllo</a>
                <a class="dropdown-item" href="#">Puente Piedra</a>
                <a class="dropdown-item" href="#">Los Olivos</a>
                <a class="dropdown-item" href="#">Independencia</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Lima Sur</a>
                <a class="dropdown-item" href="#">Villa Maria del Tríunfo</a>
                <a class="dropdown-item" href="#">San Juan de Miraflores</a>
                <a class="dropdown-item" href="#">Villa el Salvador</a>
                <a class="dropdown-item" href="#">San Martin de Porres</a>
              </ul>
            </div> 
            <div class="col-sm-3">
              <ul class="multi-column-dropdown">
                <a class="dropdown-item" href="#">Lima Antigua</a>
                <a class="dropdown-item" href="#">Rimac</a>
                <a class="dropdown-item" href="#">Cercado</a>
                <a class="dropdown-item" href="#">La Victoria</a>
                <a class="dropdown-item" href="#">San Luis</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Lima Este</a>
                <a class="dropdown-item" href="#">San Juan de Lurigancho</a>
                <a class="dropdown-item" href="#">Santa Anita</a>
                <a class="dropdown-item" href="#">Breña</a>
                <a class="dropdown-item" href="#">Comas</a>                
              </ul>
            </div> 
            <div class="col-sm-3">
              <ul class="multi-column-dropdown">
                <a class="dropdown-item" href="#">Callao</a>
                <a class="dropdown-item" href="#">Ventanilla</a>
                <a class="dropdown-item" href="#">Carmen de la Lengua</a>
                <a class="dropdown-item" href="#">Bellavista</a>
                <a class="dropdown-item" href="#">La Perla</a>
                <a class="dropdown-item" href="#">La Punta</a>
                <a class="dropdown-item" href="#">Callao</a>
                <a class="dropdown-item" href="#">El Agustino</a>
                <a class="dropdown-item" href="#">Ate Vitarte</a>
                <a class="dropdown-item" href="#">Chorrillos</a>
              </ul>
            </div> 
          </div>
        </ul>
      </li>
    -->
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    -->
    </ul>
   
  </div>
  </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <router-outlet></router-outlet>
  </body>
</html>
